
{% load static %}
{% block nosotros %}
    <section id="nosotros">
        <div class="container-fluid padding">
            <div class="row nosotros text-center">
                <div class="col-12">
                    <h2 class="display-4">Sobre Nosotros</h2>
                    <hr>
                    {% for nosotros in nosotros %}
                    <div class="col-12">
                        <p class="lead">
                            {{nosotros.descripcion}}
                        </p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="row nosotros text-center padding">
                {% for contenido in contenido %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <img class="img-fluid" src="{{contenido.imagen.url}}" alt="{{contenido.titulo}}">
                    <h3>{{contenido.titulo}}</h3>
                    <p>{{contenido.descripcion}}</p>
                </div>
                {% endfor %}
                <hr>
            </div>
        </div>
    </section>
{% endblock nosotros %}