{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block carta %}
     <section id="carta">
         <div class="container-fluid padding">
             <div class="row carta text-center">
                 <div class="col-12">
                     <h2 class="display-4">Carta</h2>
                     <hr>
                 </div>
             </div>

             <div class="row carta-content">
                 <div class="col-12">
                     <div class="carta-left">
                         <nav class="nav nav-pills nav-fill mb-3">
                            {% for categoria in categoria %}
                                <a class="nav-item nav-link {{categoria}}" data-toggle="pill"
                                    href="#{{categoria}}">{{categoria.nombre}}</a>
                            {% endfor %}
                         </nav>

                         <div class="tab-content">
                            {% for categoria in categoria %}
                                <div id="{{categoria}}" class="tab-pane fade show">
                                    <h3>{{categoria.nombre}}</h3>
                                    {% for plato in plato %}
                                    {% if plato.categoria == categoria %}
                                        <ul>
                                            <li>{{plato.nombre}} <span>$ {{plato.precio|intcomma}}</span>
                                                <hr>
                                            </li>
                                        </ul>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                         </div>
                     </div>
                 </div>
                 <hr>
             </div>
         </div>
     </section>
{% endblock carta %}
